body {
    background-color: #2db2df;
}

html {
    box-sizing: border-box;
}

header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.timeline {
    background-color: grey;
    width: 100%;
    height: 233px;
    display: flex;
    flex-wrap: wrap;
}

.details {
    width: 100%;
    height: 466px;
    display: flex;
    flex-wrap: wrap;
}

.information {
    background-color: blanchedalmond;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

.video {
    background-color: black;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}
footer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

table,
th,
tr,
td {
    border: 1px solid rgb(97, 96, 96);
    border-bottom: 0px;
    cursor: cell;
}

table {
    width: 100%;
    /* width: 100px; tesztre */
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 80px;
}

td {
    width: 40px;   
}

th {
    text-align: left;
    width: 60px;
}