.modal {
  display: none;
}


@media screen and (min-width: 1px) and (max-width: 1366px) {

}

@media screen and (min-width: 1367px) {
    body {
        width: 1366px;
        margin: auto;
    }
}


